<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.sys.dao.SysLogDao">
   <insert id="insertObject">
       insert into sys_logs
       (username,operation,method,params,time,ip,createdTime)
       values
       (#{username},#{operation},#{method},#{params},#{time},#{ip},#{createdTime})
    </insert>
   
   <!-- 基于id执行日志删除 -->
   <delete id="deleteObjects">
      
      delete from sys_logs
      where id in <!-- (1,2,3,4,5) -->
      <foreach collection="ids"
               open="("
               close=")"
               separator=","
               item="id">
            ${id}
      </foreach>
   
   </delete>
   
   
   
   
   
   <sql id="queryWhereId">
      <where>
        <if test="username!=null and username!=''">
        username like '%' + #{username} + '%'
        </if>
      </where>
   </sql>
  
   <select id="getRowCount"
           resultType="int">
        select count(*)
        from sys_logs
        <include refid="queryWhereId"/>
   </select>
   
   <select id="findPageObjects"
           resultType="com.dc.sys.entity.SysLog">
         select top ${pageSize} *
         from sys_logs where 1=1 and id not in (select top ${startIndex} id from sys_logs ORDER BY createdTime desc)
	        <if test="username!=null and username!=''">
	        and username like '%' + #{username} + '%'
	        </if>
         order by createdTime desc
         
   </select>
   
   
   
   
   
   
   
   
   
   <select id="findObjects"
           resultType="com.dc.sys.entity.SysLog">
           select *
           from sys_logs
   </select>
</mapper>
